<nav class="footer" th:fragment="footer">
    <div class="sections">
        <div class="section">
            <span class="subtext">Связь</span>
            <a class="footer-a" href="/contacts">Контакты</a>
            <a class="footer-a" href="/feedback">Форма обратной связи</a>
        </div>
        <div class="section">
            <span class="subtext">Полезное</span>
            <a class="footer-a" href="/resources">Ресурсы</a>
            <a class="footer-a" href="/advice">Советы</a>
        </div>
        <div class="section">
            <span class="subtext">Основы</span>
            <a class="footer-a" href="/esg">ESG</a>
        </div>
    </div>
    <hr>
    <span class="copyright">© 2025, РУТ (МИИТ)</span>
</nav>