<nav th:fragment="navbar" xmlns:th="http://www.thymeleaf.org" class="navbar">
    <div class="sections-div">
        <div class="sections-inner-left">
            <a class="sections-a" th:href="@{/}">ГЛАВНАЯ</a>
            <a class="sections-a" th:href="@{/esg}">ESG</a>
            <a class="sections-a" th:href="@{/advice}">СОВЕТЫ</a>
        </div>
        <div class="sections-inner-center">
            <a href="/">Экологический советник</a>
        </div>
        <div class="sections-inner-right">
            <a class="sections-a" th:href="@{/resources}">РЕСУРСЫ</a>
            <a class="sections-a" th:href="@{/feedback}">ОБРАТНАЯ СВЯЗЬ</a>
            <a class="sections-a" th:href="@{/contacts}">КОНТАКТЫ</a>
        </div>
    </div>
    <hr class="nav-divider">
</nav>
