<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main class="esg">
    <h1>Основные принципы ESG</h1>
    <p class="subtitle">Аббревиатуру ESG (environmental, social, governance) можно расшифровать как «природа, общество, управление». Это свод правил и подходов к ведению бизнеса, которые способствуют его устойчивому развитию.</p>
    <div class="card" th:each="p : ${esg.principles}">
        <h2 th:text="|${p.abbr} - ${p.name} - ${p.principle}|"></h2>
        <p class="subtitle"
           th:if="${p.text}"
           th:text="${p.text}"></p>
        <h3>Примеры</h3>
        <div class="example"
             th:if="${p.examples}"
             th:each="e : ${p.examples}">
            <span th:text="${e.text}"></span>
            <div class="image"><img th:if="${!e.pic.isEmpty()}"
                 th:src="@{/images/{pic}(pic=${e.pic})}"
                 alt="example_pic"></div>
        </div>
    </div>
</main>
<nav th:replace="~{fragments/footer}"></nav>
</body>
</html>