<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>
<main class="home">
<div class="img-div">
    <h1>Меняем привычки, а не планету</h1>
    <img class="home-img" th:src="@{images/home_img.png}" alt="home_img"/>
</div>
<div class="main-text">
    <p>Приветствуем на образовательной платформе, созданной для студентов и преподавателей! Здесь вы систематизируете свои знания в области экологии, социального развития и корпоративного управления.</p>
</div>
</main>
<nav th:replace="~{fragments/footer}"></nav>
</body>
</html>
